<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - CREARTE</title>
</head>
<body>

    <h1>Iniciar Sesión</h1>

    <form id="formLogin">

        <label>Correo</label>
        <br>
        <input 
            type="email" 
            id="correo" 
            placeholder="correo@gmail.com"
            required
        >

        <br><br>

        <label>Contraseña</label>
        <br>
        <input 
            type="password" 
            id="contraseña"
            placeholder="********"
            required
        >

        <br><br>

        <button type="submit">
            Iniciar Sesión
        </button>

    </form>

    <br>

    <p id="mensaje"></p>

    <script src="/js/login.js"></script>

</body>
</html>